<!-- <p>
  loginn works!
</p> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
<header id="main-header" class="py-2 text-white" style="background-color: rgb(72, 167, 221)">
               
    <div class="container">
      <div class="row">
        
            <a class="navbar-brand imgg" href="#">
                <!-- <img src="img.jpg" style="width:40px;"> -->
              </a>
          <h1>{{name}} (Admin)</h1>
        
      </div>
    </div>
  </header>

  <section id="actions" class="py-4 mb-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a href="index.html" class="btn btn-light btn-block">
              <i class="fas fa-arrow-left"></i> Back To Dashboard
            </a>
          </div>
          <div class="col-md-3">
            <a href="index.html" class="btn btn-success btn-block">
              <i class="fas fa-check"></i> Save Changes
            </a>
          </div>
          <div class="col-md-3">
            <a href="index.html" class="btn btn-danger btn-block">
              <i class="fas fa-trash"></i> Delete Post
            </a>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div>
            Enter Name:<input type="text"> 
            <button type="button" class="btn btn-primary">Edit</button>
            
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control">
                  <option value="" selected>Web Development</option>
                  <option value="">Tech Gadgets</option>
                  <option value="">Business</option>
                  <option value="">Health & Wellness</option>
                </select>
              </div>
            <br>
            <button class="btn  btn-outline-primary" >Submit</button>


          </div>
        </div>
      </div>
    </div>
